<div style="background: linear-gradient(176deg, rgba(215,205,104,1) 0%, rgba(247,73,73,1) 100%);">
<br>
<div class="container" style="width: 100vw; height: 100vh">
    <div class="rounded-top text-white d-flex flex-column" style="background-color: #262626; height:200px;">
        <h1 class="display-5" style="margin-left: 20px; margin-top: 10px;">Welcome, {{user.displayName}}</h1>
            <div class="container d-flex align-items-start">
                {{#if user.image}}
                <a href="/profile/upload-photo"><img src="{{user.image}}" class='rounded img-fluid' style="width: 250px; margin-left: 20px; max-height: 165px; border: 5px solid white"></a>
                {{else}}
                <a href="/profile/upload-photo" style="margin-left: 20px; color: grey">Upload Photo</a>
                {{/if}}
                {{#if user.isAdmin}}
                    <p style="margin-left: 20px">Admin Account</p>
                {{/if}}
        </div>
    </div>
    <br>
    <div class="rounded-top d-flex flex-column justify-content-start" style="height: 65vh; margin-top: 10px;">
        {{#if user.favouriteGames}}
        <br>
        {{else}}
        <h1 class="text-white" style="margin: 20px; font-size: 30px">You haven't added any favourites yet.</h1>
        {{/if}}
        <div style="margin-left: 20px" class="d-flex justify-content-start flex-wrap">
            {{#each user.favouriteGames}}   
            <div class="bg-image hover-zoom rounded">
                <a href="game/{{_id}}"><img class='rounded' width="300px" height="170px" src="{{image}}" style="margin: 5px; box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);"></a>
            </div>
            {{/each}}   
        </div>
    </div>
    </div>
</div>
<footer> 
    <div class="d-flex justify-content-center bg-dark">
      <a class="btn btn-primary" style="background-color: #0082ca; margin-right: 5px" href="https://www.linkedin.com/in/adamamata/" role="button"><i class="bi bi-linkedin"></i></a>
      <a class="btn btn-primary" style="background-color: #333333; margin-right: 5px" href="https://github.com/adamamata" role="button"><i class="bi bi-github"></i></a>
      <a class="btn btn-primary" style="background-color: #0082ca; margin-right: 5px" href="https://www.linkedin.com/in/michael-hodgkins/" role="button"><i class="bi bi-linkedin"></i></a>
      <a class="btn btn-primary" style="background-color: #333333; margin-right: 5px  " href="https://github.com/michaelhodgkins" role="button"><i class="bi bi-github"></i></a>  
    </div>
</footer>