<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 20px">
<h1>Games</h1>
<form class="d-flex pe-5" method="get" action="/game/results">
    <input type="text" class="form-control me-2" name="searchItem" placeholder="Search the web for more games" style="width: 50vw">
    <button type="submit" class="btn btn-dark">Search</button>
</form>
</div>
<br>
<div class="card-deck"></div>
<div class="d-flex justify-content-center flex-wrap">
    {{#each games}}
  <div class="card" style="width: 25%; max-height: 40%;">
    <img src="{{this.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">Genre: {{this.genre}}</p>
      <p class="card-text">Description: {{this.description}}</p>
      <p class="card-text">Rating: {{this.rating}}</p>
      <a href="/game/{{this._id}}"class="card-text"><small class="text-muted">See Details</small></a>
    </div>
  </div>
  <div class="card-footer">
    </div>
    {{/each}}
</div>
</div>