<h1>Game details</h1>
<div>
  <h3>  {{ game.name }} </h3>
  <img src="{{game.image}}">
  <p><strong>Genre:</strong> {{game.genre}} </p>
  <p><strong>Description:</strong> {{game.description}} </p>
  <p><strong>Rating:</strong> {{game.rating}} </p>
</div>

<div>
    <h4><u>Comments:</u></h4>
    {{#each game.comments}}
      <p><strong>{{this.user.displayName}}:</strong> {{this.comment}}</p>
    {{/each}}
</div>

<div>
    <form action="/game/{{game._id}}" method="POST">
      <label for="comment-input">Add a comment:</label>
      <input type="text" name="comment">
      <button type="submit">Submit</button>
    </form>
</div>

<br>
<div>
<form action="/game/{{game._id}}/favourites" method="POST">
  <button type="submit">Add to favourites</button>
</form>
</div> 
<br>

{{#if currentUser.isAdmin}}

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
  Admin Controls
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Admin Portal</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
     Please make sure you are following our guidelines when deleting content!
    </div>
    <div>
<br>
<form action="/game/{{game._id}}/edit" method="post">
<h3>  Editing: {{ game.name }} </h3>
<label for="">Name<p></p></label>
<input type="text" name="name" id="name" value="{{name}}">
<br>
<label for="genre" id="genre">Genre<p></p></label>
<input type="text" name="genre" id="genre" value="{{genre}}">
<br>
<label for="image">Image<p></p></label>
<input type="text" name="image" id="image" value="{{image}}">
<br>
<label for="description">Description<p></p></label>
<input type="text" name="description" id="description" value="{{description}}">
<br>
<label for="rating">Rating</label>
<input type="text" name="rating" id="rating" value="{{rating}}">
<br>
<br>
<button type="submit">Save Changes</button>

</form>

    </div>
    <div>
      <form action="/game/{{game._id}}/delete" method="post">
      <br>
      <br>
      <button class="btn btn-secondary" type="submit">
        Delete
      </button>
      </form>
        </div>
    </div>
  </div>
</div>
{{/if}}

