<br>
<form class="d-flex pe-5" method="get" action="/game/results">
    <input type="text" class="form-control me-2" name="searchItem" placeholder="Search the web for more games">
    <button type="submit" class="btn btn-secondary">Search</button>
</form>
<br>
<div class="card-deck"></div>
<div class="d-flex justify-content-center flex-wrap">
    {{#each games}}
  <div class="card" style="width: 25%; max-height: 40%;">
    <img src="{{background_image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Platform: {{platforms.0.platform.name}}</p>
      <p class="card-text">ESRB rating: {{esrb_rating.name}}</p>
      <p class="card-text">Release Date: {{released}}</p>
      <p class="card-text">Metacritic rating: {{metacritic }}</p>
    </div>
  </div>
  <div class="card-footer">
    </div>
    {{/each}}
</div>
</div>